body {
  margin: 5;
  padding: 0;
  font-family: sans-serif;
}

button {
  border: 1px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

.addBlogForm {
  padding: 10px 20px;
  text-align: right;
  background-color: #F6DDCC;
}

table {
  border: 1px solid black;
}

th {
  background-color: #1C2833;
  color: #FFFFFF;
  font-size: 20px;
}

.subButton {
  background-color: #566573;
}

.posButton {
  background-color: #58D68D;
}

.negButton {
  background-color: #EC7063;
}

tr:nth-child(even) {
  background-color: #E5E8E8;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

